
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-widget col-sm-6"> <img src="images/footer-logo.png" alt="">
        <p>We strive to help people by providing extraordinary service and expert repairs using only the highest quality parts available.</p>
        <p>We service all the newest and <strong class="text-highlight">Computers, Serveres, Laptops and Networking Equipment.</strong></p>
      </div>
      <div class="col-md-3 footer-widget col-sm-6">
        <h3 class="footer-widget-title">contact us</h3>
        <p>750 NW 33rd St Suite A
          Pompano Beach, FL 33064
          <a href="mailto:Service@Office2Go.com">Service@Office2Go.com</a></p>
        <p>Monday - Friday: 9am - 4pm
          Saturday: Closed <br>
          Sunday: Closed.</p>
        <p>Office: 954-757-6226 <br>
          Orlando: 407-403-6717</p>
      </div>
      <div class="col-md-2 footer-widget col-sm-7">
        <h3 class="footer-widget-title">Fixit Pages</h3>
        <ul class="listnone">
          <li><a href="#">About</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Support</a> </li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-widget col-sm-5">
        <h3 class="footer-widget-title">Get A Repair Started</h3>
        <ul class="listnone">
          <li><a href="#">PC &amp; MAC Computers</a></li>
          <li><a href="#">Laptop Repair</a></li>
          <li><a href="#">Smart phone Repair</a></li>
          <li><a href="#">Tablet Repair</a></li>
          <li><a href="#">Game Console</a> </li>
          <li><a href="#">Data Recovery</a> </li>
        </ul>
      </div>
    </div>
    <div class="row newsletter-widget">
      <div class="col-md-12">
        <h3 class="newsletter-widget-title">Get The Newsletter</h3>
      </div>
      <div class="col-md-6 footer-widget col-sm-6">
        <p>Subscribe to our newsletter to receive news &amp; updates.
          We promise to not spam you, super promise!</p>
      </div>
      <div class="col-md-6 newsletter-form col-sm-6">
        <form class="row" method="post" action="newsletter.php">
          <div class="col-md-8">
            <label class="sr-only" for="newsletteremail">Email address</label>
            <input type="email" class="form-control" id="newsletteremail" name="newsletteremail" placeholder="Email" required>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-default btn-block">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="tiny-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="copyright-text">Copyright © 2018 Office to Go</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="ft-social-widget"> <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a> <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a> <a href="#" title="Linked In"><i class="fa fa-linkedin"></i></a> <a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a> <a href="#" title="Flickr"><i class="fa fa-flickr"></i></a> <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a> </div>
      </div>
    </div>
  </div>
</div>
<!-- /.tiny footer -->
<!-- back to top icon -->
<a href="#0" class="cd-top" title="Go to top">Top</a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!-- Navigation -->
<script src="js/menumaker.js"></script>
<script type="text/javascript">
$("#navigation").menumaker({
  title: "Menu",
  format: "multitoggle"
});
</script>
<!-- animsition -->
<script type="text/javascript" src="js/animsition.js"></script>
<script type="text/javascript" src="js/animsition-script.js"></script>
<!-- Sticky header -->
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/sticky-header.js"></script>
<!-- Back to top script -->
<script src="js/back-to-top.js" type="text/javascript"></script>
