<div class="section-default-bg section-space-40">
  <div class="container">
    <div class="row">
      <div class="call-to-action-default"><!--call-to-action-default -->
        <div class="col-md-8 col-sm-8">
          <h1 class="mb0 call-to-action-title">Office To Go</h1>
          <p class="call-action-desc">The one-stop-shop for all your computer needs&#8230;</p>
        </div>
        <div class="col-md-3 call-to-action-btn col-sm-4"><a href="contactus.html" class="btn btn-default btn-block">Contact Us</a></div>
      </div>
      <!-- /.call-to-action-default -->
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-widget col-sm-6"> <img src="images/otg-logo.jpg" alt="Office To Go logo">
        <p>We strive to help people by providing extraordinary service and expert repairs using only the highest quality parts available.</p>
        <p>We service <strong class="text-highlight">Computers, Serveres, Laptops and Networking Equipment.</strong></p>
      </div>
      <div class="col-md-3 footer-widget col-sm-6">
        <h3 class="footer-widget-title">contact us</h3>
        <p>750 NW 33rd St Suite A
          Pompano Beach, FL 33064
          <a href="mailto:Service@Office2Go.com">Service@Office2Go.com</a></p>
        <p>Monday - Friday: 9am - 4pm
          Saturday: Closed <br>
          Sunday: Closed.</p>
        <p>Office: 954-757-6226 <br>
          Orlando: 407-403-6717</p>
      </div>
      <div class="col-md-2 footer-widget col-sm-7">
        <h3 class="footer-widget-title">Fixit Pages</h3>
        <ul class="listnone">
          <li><a href="about-us.html">About</a></li>
          <li><a href="contactus.html">Contact us</a></li>
          <li><a href="location.html">Locations</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-widget col-sm-5">
        <h3 class="footer-widget-title">Get A Repair Started</h3>
        <ul class="listnone">
          <li><a href="#">PC &amp; MAC Computers</a></li>
          <li><a href="#">Laptop Repair</a></li>
          <li><a href="#">Smart phone Repair</a></li>
          <li><a href="#">Tablet Repair</a></li>
          <li><a href="#">Game Console</a> </li>
          <li><a href="#">Data Recovery</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="tiny-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="copyright-text">Copyright © 2018 Office to Go</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="ft-social-widget"> <a href="https://www.facebook.com/Office-To-Go-Business-SolutionsSouth-Florida-175718079136169/" title="Facebook"><i class="fa fa-facebook"></i></a> </div>
      </div>
    </div>
  </div>
</div>
<!-- /.tiny footer -->
<!-- back to top icon -->
<a href="#0" class="cd-top" title="Go to top">Top</a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!-- Navigation -->
<script src="js/menumaker.js"></script>
<script type="text/javascript">
$("#navigation").menumaker({
  title: "Menu",
  format: "multitoggle"
});
</script>
<!-- animsition -->
<script type="text/javascript" src="js/animsition.js"></script>
<script type="text/javascript" src="js/animsition-script.js"></script>
<!-- Sticky header -->
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/sticky-header.js"></script>
<!-- Back to top script -->
<script src="js/back-to-top.js" type="text/javascript"></script>
