<div class="section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 section-title">
        <h1>Why Office To Go?</h1>
        <h3>Customer Relationship Management (CRM)</h3>
        <p>CRM is about the right people doing the right thing for the right reasons at the right price while achieving 100% customer satisfaction!</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 feature col-sm-3">
        <div class="feature-icon"><i class="fa fa-wrench" aria-hidden="true"></i></div>
        <div class="feature-content">
          <h3>Diagnostics $39.95</h3>
          <p>diagnostic credited towards repair</p>
        </div>
      </div>
      <div class="col-md-3 feature col-sm-3">
        <div class="feature-icon"><i class="fa fa-wrench" aria-hidden="true"></i></div>
        <div class="feature-content">
          <h3>Quality Service</h3>
          <p>at a low price</p>
        </div>
      </div>
      <div class="col-md-3 feature col-sm-3">
        <div class="feature-icon"><i class="fa fa-gear" aria-hidden="true"></i></div>
        <div class="feature-content">
          <h3>Quick Repair Process</h3>
          <p>most calls completed in a day</p>
        </div>
      </div>
      <div class="col-md-3 feature col-sm-3">
        <div class="feature-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
        <div class="feature-content">
          <h3>30-Day Warranty</h3>
          <p>quality you can trust</p>
        </div>
      </div>
    </div>
  </div>
</div>
