<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Office To Go & Business Solutions provides computer, internet, networking, and forensic services to South and Central Florida.">
<meta name="keywords" content="office to go,computer,internet,web,wireless,programming,licensed computer forensicsweston,coral springs,florida,server,computer repair,hardware,software,recovery, computer service">
<title>Computer Repair | Office To Go | Contact Us</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Template Style -->
<link href="css/style.css" rel="stylesheet">
<!-- animsition css -->
<link rel="stylesheet" type="text/css" href="css/animsition.min.css">
<!-- Template icon font css -->
<link rel="stylesheet" type="text/css" href="css/fontello.css">
 <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<!-- Template Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,300,700' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="animsition">

  {{> header}}
  {{> nav}}

<div class="page-header contact-us"><!-- page-header -->
  <div class="container">
    <div class="row page-section"><!-- page section -->
      <div class="col-md-12 page-description"><!-- page description -->
        <h1 class="page-title">Contact us</h1>
      </div>
      <!-- page description -->

    </div>
    <!-- page section -->
  </div>
  <div class="page-breadcrumb">
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Contact us</li>
    </ol>
  </div>
</div>
<!-- /.page-header -->
<div class="main-container"><!-- main container -->
  <div class="container">
    <div class="row">
      <div class="col-md-7 content col-sm-12"><!-- content -->
        <div class="row">
          <div class="col-md-12">
            <h1>Send us an Email or call us</h1>
            <p>Let us know what you need fixed</p>
            <p><a href="mailto:service@office2go.com" class="email-link">service@office2go.com</a></p>
          </div>
        </div>
      </div>
      <!-- /.content -->

      <div class="col-md-offset-1 col-md-4 sidebar col-sm-12"><!-- sidebar -->
        <div class="row">
          <div class="col-md-12 widget col-sm-4">
            <div class="well-bg widget-phone">
              <div class="well-inner"> <i class="fa fa-phone"></i>
                <h3>Phone</h3>
                <ul class="listnone">
                  <li>Pompano: 954-757-6226</li>
                  <li>Orlando: 407-403-6717</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 widget col-sm-4">
            <div class="well-bg widget-address">
              <div class="well-inner"> <i class="fa fa-home"></i>
                <h3>Address</h3>
                <h5>South Florida</h5>
                <address>
                750 NW 33rd St, Suite A<br>
                Pompano Beach, FL 33064<br>
                </address>
                <br />
                <h5>Central Florida</h5>
                <address>
                  230 Sunport Lane, Suite 100<br />
                  Orlando, FL 32809<br />
                </address>
              </div>
            </div>
          </div>
          <div class="col-md-12 widget col-sm-4">
            <div class="well-bg widget-schedule">
              <div class="well-inner"> <i class="fa fa-clock-o"></i>
                <h3>Schedule</h3>
                <ul class="listnone">
                  <li>Mon-Fri:<strong> 9am - 5pm</strong></li>
                  <li>Sat: <strong> Closed</strong></li>
                  <li>Sun: <strong> Closed</strong></li>
                  <li>weekend and after hours by appointment only</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.sidebar -->
    </div>
  </div>
</div>
<!-- /.main container -->
<div class="map" id="googleMap"></div>
  {{> footer}}
<!-- back to top icon -->
<a href="#0" class="cd-top" title="Go to top">Top</a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!-- Navigation -->
<script src="js/menumaker.js"></script>
<script type="text/javascript">
$("#navigation").menumaker({
  title: "Menu",
  format: "multitoggle"
});
</script>
<!-- animsition -->
<script type="text/javascript" src="js/animsition.js"></script>
<script type="text/javascript" src="js/animsition-script.js"></script>
<!-- Sticky header -->
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/sticky-header.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Back to top script -->
<script src="js/back-to-top.js" type="text/javascript"></script>
<script>
var myCenter = new google.maps.LatLng(26.271042, -80.133342);

function initialize() {
  var mapProp = {
    center: myCenter,
    zoom: 9,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

  var marker = new google.maps.Marker({
    position: myCenter,

    icon: "images/marker.png"
  });

  marker.setMap(map);
  var infowindow = new google.maps.InfoWindow({
    content: "Hello Address"
  });
}

google.maps.event.addDomListener(window, "load", initialize);
</script>


 </body>
</html>
