<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Office To Go & Business Solutions provides computer, internet, networking, and forensic services to South and Central Florida.">
<meta name="keywords" content="office to go,computer,internet,web,wireless,programming,licensed computer forensicsweston,coral springs,florida,server,computer repair,hardware,software,recovery, computer service">
<title>Computer Repair | Office To Go</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Template Style -->
<link href="css/style.css" rel="stylesheet">

<!-- animsition css -->
<link rel="stylesheet" type="text/css" href="css/animsition.min.css">
<!-- slider -->
<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="css/fontello.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<!-- Template Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,300,700' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="animsition">

  {{> header}}
  {{> nav}}

<div class="slider">
  <div>
    <div class="slider-img"><img src="./images/homePageBanner-1900x554.jpg" alt="laptop with doctor stethoscope" class=""></div>
    <div class="container">
      <div class="row">
        <div class="slider-captions">
          <h1 class="slider-title">Computer Repairs for South and Central Florida</h1>
          <p class="slider-text">Whether it's one computer or five thousand computers, Office To Go technicians provide the quality of service and knowledge unparalleled in the industry.</p>
          <a href="service-listing-image.html" class="btn btn-default">View Services</a> </div>
      </div>
    </div>
  </div>
</div>
<div class="section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 section-title"><!-- section title -->
        <h1>Why Office To Go?</h1>
        <h3>Customer Relationship Management (CRM)</h3>
        <p>CRM is about the right people doing the right thing for the right reasons at the right price while achieving 100% customer satisfaction!</p>
      </div>
      <!-- /.section title -->
    </div>
    <div class="row">
      <div class="col-md-4 service-block col-sm-4"> <!-- service-block -->
        <div class="well-bg">
          <h3><a href="consulting-single-page.html" class="heading-title">Consulting, Programming, and Application Deployment</a></h3>
          <p>Application development for your business needs</p>
          <a href="consulting-single-page.html" class="btn-link">Read more</a> </div>
      </div>
      <!-- /.service-block -->
      <div class="col-md-4 service-block col-sm-4"> <!-- service-block -->
        <div class="well-bg">
          <h3><a href="service-level-agreements-single-page.html" class="heading-title">Service Level Agreements</a></h3>
          <p>Personalized Service Level Agreements to maintain your technology infrastructure</p>
          <a href="service-level-agreements-single-page.html" class="btn-link">Read more</a> </div>
      </div>
      <!-- /.service-block -->
      <div class="col-md-4 service-block col-sm-4"> <!-- service-block -->
        <div class="well-bg">
          <h3><a href="network-single-page.html" class="heading-title">Network Services</a></h3>
          <p>Network, hardware and software services</p>
          <a href="network-single-page.html" class="btn-link">Read more</a> </div>
      </div>
      <!-- /.service-block -->
    </div>
    <div class="row">
      <div class="col-md-4 service-block col-sm-4"> <!-- service-block -->
        <div class="well-bg">
          <h3><a href="internet-single-page.html" class="heading-title">Internet/Web</a></h3>
          <p>From web and email to secure video monitoring and remote administration</p>
          <a href="internet-single-page.html" class="btn-link">Read more</a> </div>
      </div>
      <!-- /.service-block -->
      <div class="col-md-4 service-block col-sm-4"> <!-- service-block -->
        <div class="well-bg">
          <h3><a href="computer-forensics-single-page.html" class="heading-title">Computer Forensics</a></h3>
          <p>Data recovery and protected and encrypted file recovery</p>
          <a href="computer-forensics-single-page.html" class="btn-link">Read more</a> </div>
      </div>
      <!-- /.service-block -->
    </div>
  </div>
</div>
<div class="space-bottom-80">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-5 col-sm-offset-2 col-sm-5">
        <h2 class="mb0">Discover All Our Service Offerings</h2>
        <p>If It's Related To Computers, We Can Fix It</p>
      </div>
      <div class="col-md-3"><a href="service-listing-image.html" class="btn btn-default">view our services</a></div>
    </div>
  </div>
</div>
{{> standards}}
<div class="section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title">
        <h1>More Than Just Fixing Computers</h1>
        <p>We strive to build relationships with our customers</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 hidden-sm"> <img src="images/home-page-repair-580x432.jpg" alt="computer internals with coloful lights" class="img-responsive"> </div>
      <div class="col-md-6 col-sm-12">
        <p class="lead">We help people by providing extraordinary service and expert repairs</p>
        <p>Of course we love fixing computers and cleaning up malware, but we get our satisfaction from helping out folks who lost their connection to the outside world.</p>
        <h2>What We Do</h2>
        <p>Office To Go offers a range of services from consulting on your hardware and software needs to network installations, internet security, computer repair and computer forensics. Reach out to us to find out how we can help businesses and individuals stay connected.</p>
      </div>
    </div>
  </div>
</div>
<div class="section-space section-color">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h1>We Repair All Brands</h1>
          <p>Whether your on a PC or any other device, we can find a way to fix it!</p>
        </div>
      </div>
    </div>
  </div>
</div>
  {{> footer}}
<!-- back to top icon -->
<a href="#0" class="cd-top" title="Go to top">Top</a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!-- Navigation -->
<script src="js/menumaker.js"></script>
<script type="text/javascript">
$("#navigation").menumaker({
  title: "Menu",
  format: "multitoggle"
});
</script>
<!-- animsition -->
<script type="text/javascript" src="js/animsition.js"></script>
<script type="text/javascript" src="js/animsition-script.js"></script>
<!-- Sticky header -->
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/sticky-header.js"></script>
<!-- Slider -->
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/testimonial.js"></script>
<!-- Back to top script -->
<script src="js/back-to-top.js" type="text/javascript"></script>
</body>
</html>
