<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Fixit is repair Shop websites template.">
<meta name="keywords" content="HTML,CSS, Hardware Repair, Computer Repair, Website Template, Console Repair, Tablet Repair, iMac Repair">
<title>Digital Repair Shop Website Template | Fixit</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Template Style -->
<link href="css/style.css" rel="stylesheet">
<!-- animsition css -->
<link rel="stylesheet" type="text/css" href="css/animsition.min.css">
<!-- Template icon font css -->
<link rel="stylesheet" type="text/css" href="css/fontello.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<!-- Template Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,300,700' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="animsition">

<div id="_header"></div>
<div id="_nav"></div>
<div class="page-header"><!-- page-header -->
  <div class="container">
    <div class="row page-section"><!-- page section -->
      <div class="col-md-12 page-description"><!-- page description -->
        <h1 class="page-title">Single Locations</h1>
      </div>
      <!-- page description -->

    </div>
    <!-- page section -->
  </div>
  <div class="page-breadcrumb">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Single Locations</li>
    </ol>
  </div>
</div>
<!-- /.page-header -->
<div class="main-container"><!-- main container -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="row">
          <div class="col-md-12 location-block"><!-- location block -->

            <div class="well-bg">
              <div class="well-inner">
                <h2>Aldgate</h2>
                <address>
                46 South Street Glaziers
                Bay Tas 7109
                </address>
                <h3 class="location-title">Opening Hours</h3>
                <ul class="listnone">
                  <li>Mon - Fri<span class="location-time">8am - 8pm </span></li>
                  <li>Sat - Sun <span class="location-time">Holidays</span></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.location block -->
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <div class="location-map" id="googleMap"></div>
            <div class="location-info">
              <h2>Location Information</h2>
              <p>Sed eget tellus ac risus porta tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis at nibh id ligula sollicitudin faucibus et ut mauris. Nunc pulvinar porta quam, nec condimentum dui semper et. Etiam finibus facilisis imperdiet.</p>
              <p>Fusce eu nibh quis justo tempor faucibus. Mauris ullamcorper erat a metus pulvinar, in tincidunt massa volutpat. Phasellus vel iaculis nisl. Proin hendrerit enim eu mattis consectetur. Nunc hendrerit nulla sit amet interdum placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
              <p><strong>make us call : 800 123 4567</strong></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="feedback-section">
              <h2>Customer Feedback</h2>
              <div class="row">
                <div class="col-md-12 col-sm-6">
                  <div class="well-bg feedback-block">
                    <p><i>“Nam mollis bibendum orcia dictumestibulum pretium lacus acsem laoreet semper facilisis mauris efficituorem ipsum dolorsit.”</i></p>
                    <div class="client-name">
                      <h3>Paul Obrik</h3>
                      <span class="feedback-date">21 july, 2016</span> </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-6">
                  <div class="well-bg feedback-block">
                    <p><i>“Nam mollis bibendum orcia dictumestibulum pretium lacus acsem laoreet semper facilisis mauris efficituorem ipsum dolorsit.”</i></p>
                    <div class="client-name">
                      <h3>Paul Obrik</h3>
                      <span class="feedback-date">21 july, 2016</span> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="leave-feedback">
              <h2>Leave a Feedback</h2>
              <form>
                <div class="row">
                  <!-- Textarea -->
                  <div class="form-group">
                    <div class="col-md-12">
                      <label class="control-label" for="textarea">Message</label>
                      <textarea class="form-control" id="textarea" name="textarea" rows="5">message</textarea>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <!-- Text input-->
                    <div class="form-group">
                      <label class="control-label" for="name">Name</label>
                      <input id="name" name="name" type="text" placeholder="name" class="form-control input-md" required="">
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="control-label" for="email">E-mail</label>
                      <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <!-- Button -->
                    <div class="form-group">
                      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.main container -->
<div class="section-default-bg section-space-40">
  <div class="container">
    <div class="row">
      <div class="call-to-action-default"><!--call-to-action-default -->
        <div class="col-md-8 col-sm-8">
          <h1 class="mb0 call-to-action-title">Do you want to repair your mobile phone?</h1>
          <p class="call-action-desc">Nunc leo arcu tempus ut est et pulvinar scelerisque lorem sed et odio ut ullamcorper.</p>
        </div>
        <div class="col-md-3 call-to-action-btn col-sm-4"><a href="#" class="btn btn-default btn-block">Get Free estimate</a></div>
      </div>
      <!-- /.call-to-action-default -->
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-widget col-sm-6"> <img src="images/footer-logo.png" alt="">
        <p>We strive to help people by providing extraordinary service and expert repairs using only the highest quality parts available.</p>
        <p>We service all the newest and <strong class="text-highlight">popular mobile phones, tablets and laptops.</strong> natis sed id nisl magna auris et neque sollicitudin ullamcorper fusce molestie felis mi id.Vestibulum venenatis sed id nisl magna suspendisse a mauris. </p>
      </div>
      <div class="col-md-3 footer-widget col-sm-6">
        <h3 class="footer-widget-title">contact us</h3>
        <p>136 Kingston Road
          SW19 1LY Wimbledon
          London.</p>
        <p>Monday - Friday: 9am - 6pm
          Saturday: 9am - 4pm <br>
          Sunday: Appointments only.</p>
        <p>Office: 0208 543 7088 <br>
          Mobile: 0 778 35 166 93</p>
      </div>
      <div class="col-md-2 footer-widget col-sm-7">
        <h3 class="footer-widget-title">Fixit Pages</h3>
        <ul class="listnone">
          <li><a href="#">About</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Support</a> </li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-widget col-sm-5">
        <h3 class="footer-widget-title">Get A Repair Started</h3>
        <ul class="listnone">
          <li><a href="#">PC &amp; MAC Computers</a></li>
          <li><a href="#">Laptop Repair</a></li>
          <li><a href="#">Smart phone Repair</a></li>
          <li><a href="#">Tablet Repair</a></li>
          <li><a href="#">Game Console</a> </li>
          <li><a href="#">Data Recovery</a> </li>
        </ul>
      </div>
    </div>
    <div class="row newsletter-widget">
      <div class="col-md-12">
        <h3 class="newsletter-widget-title">Get The Newsletter</h3>
      </div>
      <div class="col-md-6 footer-widget col-sm-6">
        <p>Subscribe to our newsletter to receive news &amp; updates.
          We promise to not spam you, super promise!</p>
      </div>
      <div class="col-md-6 newsletter-form col-sm-6">
        <form class="row" method="post" action="newsletter.php">
          <div class="col-md-8">
            <label class="sr-only" for="newsletteremail">Email address</label>
            <input type="email" class="form-control" id="newsletteremail" name="newsletteremail" placeholder="Email" required>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-default btn-block">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="tiny-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="copyright-text">Copyright © 2016 Fixit Digital Repair Store</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="ft-social-widget"> <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a> <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a> <a href="#" title="Linked In"><i class="fa fa-linkedin"></i></a> <a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a> <a href="#" title="Flickr"><i class="fa fa-flickr"></i></a> <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a> </div>
      </div>
    </div>
  </div>
</div>
<!-- back to top icon -->
<a href="#0" class="cd-top" title="Go to top">Top</a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!-- Navigation -->
<script src="js/menumaker.js"></script>
<script type="text/javascript">
$("#navigation").menumaker({
  title: "Menu",
  format: "multitoggle"
});
</script>
<!-- animsition -->
<script type="text/javascript" src="js/animsition.js"></script>
<script type="text/javascript" src="js/animsition-script.js"></script>
<!-- Sticky header -->
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/sticky-header.js"></script>
<!-- Back to top script -->
<script src="js/back-to-top.js" type="text/javascript"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="js/location-single.js"></script>
</body>
</html>
